/*
Nudr_DataRepository API OpenAPI file

Unified Data Repository Service.   © 2022, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).   All rights reserved. 

API version: 2.3.0-alpha.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi_Nudr_DR

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)


// ParameterProvisionProfileDataFor5GVNGroupDocumentApiService ParameterProvisionProfileDataFor5GVNGroupDocumentApi service
type ParameterProvisionProfileDataFor5GVNGroupDocumentApiService service

type ApiQuery5GVNGroupPPDataRequest struct {
	ctx context.Context
	ApiService *ParameterProvisionProfileDataFor5GVNGroupDocumentApiService
	extGroupIds *[]string
	supportedFeatures *string
}

// List of external VN group identifiers
func (r ApiQuery5GVNGroupPPDataRequest) ExtGroupIds(extGroupIds []string) ApiQuery5GVNGroupPPDataRequest {
	r.extGroupIds = &extGroupIds
	return r
}

// Supported Features
func (r ApiQuery5GVNGroupPPDataRequest) SupportedFeatures(supportedFeatures string) ApiQuery5GVNGroupPPDataRequest {
	r.supportedFeatures = &supportedFeatures
	return r
}

func (r ApiQuery5GVNGroupPPDataRequest) Execute() (*Pp5gVnGroupProfileData, *http.Response, error) {
	return r.ApiService.Query5GVNGroupPPDataExecute(r)
}

/*
Query5GVNGroupPPData Retrieves the parameter provision profile data for 5G VN Group

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiQuery5GVNGroupPPDataRequest
*/
func (a *ParameterProvisionProfileDataFor5GVNGroupDocumentApiService) Query5GVNGroupPPData(ctx context.Context) ApiQuery5GVNGroupPPDataRequest {
	return ApiQuery5GVNGroupPPDataRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Pp5gVnGroupProfileData
func (a *ParameterProvisionProfileDataFor5GVNGroupDocumentApiService) Query5GVNGroupPPDataExecute(r ApiQuery5GVNGroupPPDataRequest) (*Pp5gVnGroupProfileData, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Pp5gVnGroupProfileData
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParameterProvisionProfileDataFor5GVNGroupDocumentApiService.Query5GVNGroupPPData")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/subscription-data/group-data/5g-vn-groups/pp-profile-data"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.extGroupIds != nil {
		parameterAddToQuery(localVarQueryParams, "ext-group-ids", r.extGroupIds, "csv")
	}
	if r.supportedFeatures != nil {
		parameterAddToQuery(localVarQueryParams, "supported-features", r.supportedFeatures, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
