/*
Nudr_DataRepository API OpenAPI file

Unified Data Repository Service.   © 2022, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).   All rights reserved. 

API version: 2.3.0-alpha.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi_Nudr_DR

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// UpdateThePEIInformationOfThe5GCEPCDomainsDocumentApiService UpdateThePEIInformationOfThe5GCEPCDomainsDocumentApi service
type UpdateThePEIInformationOfThe5GCEPCDomainsDocumentApiService service

type ApiCreateOrUpdatePeiInformationRequest struct {
	ctx context.Context
	ApiService *UpdateThePEIInformationOfThe5GCEPCDomainsDocumentApiService
	ueId string
	peiUpdateInfo *PeiUpdateInfo
}

func (r ApiCreateOrUpdatePeiInformationRequest) PeiUpdateInfo(peiUpdateInfo PeiUpdateInfo) ApiCreateOrUpdatePeiInformationRequest {
	r.peiUpdateInfo = &peiUpdateInfo
	return r
}

func (r ApiCreateOrUpdatePeiInformationRequest) Execute() (*PeiUpdateInfo, *http.Response, error) {
	return r.ApiService.CreateOrUpdatePeiInformationExecute(r)
}

/*
CreateOrUpdatePeiInformation Update the PEI Information of the 5GC/EPC domains

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ueId UE id
 @return ApiCreateOrUpdatePeiInformationRequest
*/
func (a *UpdateThePEIInformationOfThe5GCEPCDomainsDocumentApiService) CreateOrUpdatePeiInformation(ctx context.Context, ueId string) ApiCreateOrUpdatePeiInformationRequest {
	return ApiCreateOrUpdatePeiInformationRequest{
		ApiService: a,
		ctx: ctx,
		ueId: ueId,
	}
}

// Execute executes the request
//  @return PeiUpdateInfo
func (a *UpdateThePEIInformationOfThe5GCEPCDomainsDocumentApiService) CreateOrUpdatePeiInformationExecute(r ApiCreateOrUpdatePeiInformationRequest) (*PeiUpdateInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PeiUpdateInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UpdateThePEIInformationOfThe5GCEPCDomainsDocumentApiService.CreateOrUpdatePeiInformation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/subscription-data/{ueId}/context-data/pei-info"
	localVarPath = strings.Replace(localVarPath, "{"+"ueId"+"}", url.PathEscape(parameterValueToString(r.ueId, "ueId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.peiUpdateInfo == nil {
		return localVarReturnValue, nil, reportError("peiUpdateInfo is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.peiUpdateInfo
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
