/*
M5_ConsumptionReporting

5GMS AF M5 Consumption Reporting API © 2022, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC). All rights reserved. 

API version: 2.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi_M5_ConsumptionReporting

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)


// DefaultApiService DefaultApi service
type DefaultApiService service

type ApiSubmitConsumptionReportRequest struct {
	ctx context.Context
	ApiService *DefaultApiService
	aspId string
	consumptionReport *ConsumptionReport
}

// A Consumption Report
func (r ApiSubmitConsumptionReportRequest) ConsumptionReport(consumptionReport ConsumptionReport) ApiSubmitConsumptionReportRequest {
	r.consumptionReport = &consumptionReport
	return r
}

func (r ApiSubmitConsumptionReportRequest) Execute() (*http.Response, error) {
	return r.ApiService.SubmitConsumptionReportExecute(r)
}

/*
SubmitConsumptionReport Submit a Consumption Report

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param aspId See 3GPP TS 26.512 clause 11.3.2.
 @return ApiSubmitConsumptionReportRequest
*/
func (a *DefaultApiService) SubmitConsumptionReport(ctx context.Context, aspId string) ApiSubmitConsumptionReportRequest {
	return ApiSubmitConsumptionReportRequest{
		ApiService: a,
		ctx: ctx,
		aspId: aspId,
	}
}

// Execute executes the request
func (a *DefaultApiService) SubmitConsumptionReportExecute(r ApiSubmitConsumptionReportRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.SubmitConsumptionReport")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/consumption-reporting/{aspId}"
	localVarPath = strings.Replace(localVarPath, "{"+"aspId"+"}", url.PathEscape(parameterValueToString(r.aspId, "aspId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.consumptionReport == nil {
		return nil, reportError("consumptionReport is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.consumptionReport
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
